:root {
  --blanco: #ffffff;
  --primario: #ececeb;
  --secundario: #FF8C00;
  --rojo: #8B0000;
  --negro: rgb(0, 0, 0);
  --rosado: #da9090;
}
html {
  box-sizing: border-box;
  min-height: 100%;
  scroll-snap-type: y mandatory;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
p {
  line-height: 2;
}
body {
  font-family: "Krub", sans-serif;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  min-height: 100%;
}

.formulario {
  background-color: var(--primario);
  border-color: var(--rojo);
  border-style: inset;
  padding: 2rem;
  border-radius: 10px;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
.formulario legend {
  text-align: center;
  font-size: 1.2rem;
  color: var(--rojo);
  margin-bottom: 2rem;
  display: block;
  text-transform: uppercase;
  font-weight: 800;
}
@media(min-width: 768px) {
  .formulario {
    max-width: 800px;
    margin: 0 auto;
  }
}
.contenedor campos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.campo {
  margin-bottom: 1rem;
  width: 100%;
}
@media(min-width: 480px) {
  .campo {
    display: flex;
    align-items: center;
  }
}
@media(min-width: 768px) {
  .campo {
    flex: 0 0 calc(50% - 0.5rem);
  }
}
.campo label {
  color: var(--rojo);
  font-weight: 700;
  padding-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
}
@media(min-width: 480px) {
  .campo label{
    flex: 0 0 90px;
  }
}
.campo input[type="text"],
.campo input[type="email"],
.campo textarea {
  background-color: #b3aeac;
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
}
@media(min-width: 768px) {
  :is(.campo)
  :is(
    input[type="text"],
    input[type="text"],
    input[type="email"],
    textarea) {
      flex: 1;
    }
}
.w-100 {
  flex: 0 0 100%;
}
.campo textarea {
  height: 4rem;
}
.enviar {
  display: flex;
  justify-content: flex-end;
}

.boton {
  background-color: var(--rojo);
  color: var(--blanco);
  margin-top: 0.5rem;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  border: none;
}